# Какую локальную модель использовать по умолчанию
LOCAL_LLM_MODEL=qwen/qwen3.5-9b
LOCAL_LLM_BASE_URL=http://127.0.0.1:1234/v1
LOCAL_LLM_API_KEY=lm-studio

# Yandex Cloud
YC_FOLDER_ID=
YC_AI_API_KEY=
YC_MODEL=
YC_BASE_URL=https://llm.api.cloud.yandex.net/v1

# Общая температура для ответа агента
LLM_TEMPERATURE=0.1
